a {
    color: darkslategray;
    text-decoration: none;
}

a + a {
    padding-left: 20px;
}

.selected {
    text-decoration: underline;
}

.header {
    text-align: center;
    margin: 20px auto;
}
