.menuItem {
    color: darkslategray;
    text-decoration: none;
}

.menuItem + .menuItem {
    padding-left: 20px;
}

.selected {
    text-decoration: underline;
}

.header {
    text-align: center;
    margin: 40px auto;
}
